.get-bonuses {
    padding: 35px 45px 35px 40px;
    background-color: $accent_color;
    display: flex;
    justify-content: space-between;

    &__content-wrapper {
        width: 250px;
        display: grid;
        row-gap: 25px;
        color: $white_color;
    }

    &__header {
        font-size: 18px;
        font-weight: 700;
    }

    &__desr {
        line-height: 20px;
    }

    &__icon {
        max-width: 140px;
        max-height: 140px;
    }
}